body {
    background-color: rgb(11, 211, 247)
}

h1 {
    color: hotpink;
    font-size: 25px;

}

h2 {

color: green;
font-size: 20;

}
.red-heading {
    color: red;

}

.blue-text {
    color:blue;

}

#new-font {
    <element id=
    font-family: fantasy, cursive, serif;

}