body {
    background-color: rgb(11, 211, 247)
}

h1 {
    color: rgb(7, 11, 255);
    font-size: 25px;

}

h2 {

color: green;
font-size: 20px;

}

    header p {
        font-weight: bold;
        color: blue;
        font-style: italic;
}

.red-heading {
    color: red;

}

.blue-text {
    color:blue;

}

#new-font {
    <element id=
    font-family: fantasy, cursive, serif;

}