/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set some basic styles */
body {
    font-family: 'Arial', sans-serif; /* Use a web-safe font */
    line-height: 1.6; /* Improve readability */
    color: #333; /* A darker shade for better readability */
    padding: 20px; /* Avoids content touching the edges */
    background-color: #f4f4f4; /* A light background color */
}

/* Style headers */

h1, h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;



h2{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #eaeaea;*/
}

/* Style links */
a {
    color: #333;
    text-decoration: none; /* Removes underline */
}

a:hover {
    color: #007bff; /* Change color on hover */
}

/* Add more styles based on your design */
.container {
    width: 80%;
    margin: auto; /* Centers the container */
    overflow: hidden; /* Fixes floating elements */
}

/* Flexbox example for a simple two-column layout */
.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1; /* Each column takes equal space */
    margin: 10px; /* Spacing between columns */
}


/* For tablets */
@media (max-width: 768px) {
    .column {
        flex: 100%; /* Each column takes full width */
    }
}

/* For mobile devices */
@media (max-width: 480px) {
    .container {
        width: 100%;
    }
}



/* Typography */
p {
    margin-bottom: 20px;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Further customize your site with specific styles for your navigation, footer, etc. */
